*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/logic/src/main/java/com/stasenkots/logic/util/Constants.kt
/logic/src/main/java/com/stasenkots/logic/Keys.kt
/app/src/main/java/com/stasenkots/studentstimetable/Keys.kt
/app/src/main/res/values-en/strings.xml
/app/src/main/res/values/strings.xml
/app-ads.txt